<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <centre>
        <h1>conditions</h1>
        {% if a > b %}
    {% if a > c %}
        <h1>a is max</h1>
    {% else %}
        <h1>c is max</h1>
    {% endif %}
{% else %}
    {% if b > c %}
        <h1>b is max</h1>
    {% else %}
        <h1>c is max</h1>
    {% endif %}
{% endif %}
    </centre>
</body>
</html>